/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular-webfont.woff); }
body {
  margin: 0;
  background: #808080;
  color: #000000;
  font-family: "Open Sans"; }

h1 {
  font-size: 2.375em;
  margin-top: 37px; }

h2 {
  font-size: 1.5em; }

p {
  font-size: 1em;
  line-height: 28px; }

header {
  margin: 25px 0 45px; }

.aboutus-banner {
  height: 155px;
  background: url("../images/section-bcg.png") repeat-x; }

.section-aboutus {
  height: 380px;
  background: #00ff00;
  margin-top: -100px; }
  .section-aboutus .aboutus__img {
    margin-top: -30px; }
  .section-aboutus h1 {
    padding: 0 0 18px 90px;
    background: url("../images/line-h1.png") no-repeat bottom left; }
  .section-aboutus p {
    padding-top: 20px; }

.section-troeven {
  color: #ffffff;
  text-align: center;
  padding: 75px 0; }
  .section-troeven h2 {
    background: url("../images/line-white.png") no-repeat bottom left;
    padding-bottom: 18px; }
  .section-troeven p {
    padding-top: 15px; }

.section-business {
  margin-bottom: 80px; }
  .section-business h2 {
    padding: 25px 0 15px; }
  .section-business p {
    text-align: justify;
    padding: 0 8px; }
  .section-business .business__color-FF {
    background: #00ff00;
    transition: 0.7s;
    height: 355px;
    text-align: center; }
    .section-business .business__color-FF:hover {
      z-index: 999;
      transform: scale(1.1); }
  .section-business .business__color-CC {
    background: #00cc00;
    transition: 0.7s;
    height: 355px;
    text-align: center; }
    .section-business .business__color-CC:hover {
      z-index: 999;
      transform: scale(1.1); }
  .section-business .business__color-99 {
    background: #009900;
    transition: 0.7s;
    height: 355px;
    text-align: center; }
    .section-business .business__color-99:hover {
      z-index: 999;
      transform: scale(1.1); }

.section-contact {
  margin-top: -430px;
  height: 380px;
  background: #00ff00; }
  .section-contact .contact-info {
    padding-top: 75px; }
  .section-contact h2 {
    padding: 25px 0 18px 35px;
    background: url("../images/line.png") no-repeat bottom left; }

.contact-banner {
  height: 155px;
  background: url("../images/section-bcg.png") repeat-x;
  margin-top: 360px; }

input {
  margin: 25px 1% 10px 0;
  background: #009900;
  border: none;
  padding: 8px; }
  input:hover {
    background: #00a300; }
  input::-webkit-input-placeholder {
    color: #fff; }
  input:-moz-placeholder {
    color: #fff; }
  input::-moz-placeholder {
    color: #fff; }
  input:-ms-input-placeholder {
    color: #fff; }

input[type="text"] {
  width: 45%; }

input[type="email"] {
  width: 45%; }

input[type="submit"] {
  width: 91%;
  padding: 15px 0;
  color: #ffffff; }

textarea {
  width: 91%;
  height: 120px;
  background: #009900;
  border: none;
  padding: 8px; }
  textarea:hover {
    background: #00a300; }
  textarea::-webkit-input-placeholder {
    color: #fff; }
  textarea:-moz-placeholder {
    color: #fff; }
  textarea::-moz-placeholder {
    color: #fff; }
  textarea:-ms-input-placeholder {
    color: #fff; }

.section-foto {
  margin-top: -105px; }
  .section-foto li {
    float: left;
    margin-right: 3%;
    magin-bottom: 3%;
    width: 48.5%; }
    .section-foto li:nth-child(2n) {
      margin-right: 0; }
  .section-foto img {
    width: 100%; }

.foto-banner {
  height: 155px;
  background: url("../images/section-bcg.png") repeat-x;
  margin-top: 80px; }

footer {
  background: #00ff00;
  height: 50px;
  margin-top: 55px; }
  footer p {
    font-size: 12px;
    padding-top: 10px; }

/*# sourceMappingURL=style.css.map */
