/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular-webfont.woff); }

@font-face {
  font-family: FontAwesome;
  scr: url(../fonts/fontawesome-webfont.woff); }

body {
  margin: 0;
  background: #808080;
  color: #000000;
  font-family: "Open Sans"; }

h1 {
  font-size: 2.375em;
  margin-top: 37px; }

h2 {
  font-size: 1.5em; }

p {
  font-size: 1em;
  line-height: 28px; }

a {
  color: #000000; }
  a:before {
    font-family: FontAwesome;
    content: "\f08e";
    display: inline-block;
    padding-right: 3px; }
  a:hover {
    color: #000000;
    text-decoration: none; }
    a:hover:before {
      font-family: FontAwesome;
      content: "\f14c";
      display: inline-block;
      padding-right: 5px; }

header {
  margin: 25px 0 45px; }
  header img {
    width: 100%; }
  header a:before {
    content: ""; }
  header a:hover:before {
    content: ""; }

.section-troeven {
  color: #ffffff;
  text-align: center;
  padding: 75px 0;
  transition: 0.7s; }
  .section-troeven:hover {
    color: #00ff00; }
  .section-troeven h2 {
    background: url("../images-min/line-white.png") no-repeat bottom left;
    padding-bottom: 18px;
    font-size: 2em; }
  .section-troeven p {
    padding-top: 15px;
    font-size: 1.5em; }

@media screen and (max-width: 479px) {
  .section-troeven {
    padding: 15px 5px; }
    .section-troeven h2 {
      font-size: 1.8em; }
    .section-troeven p {
      font-size: 1em; } }

.aboutus-banner {
  height: 155px;
  background: url("../images-min/section-gray-bcg.png") repeat-x; }

.section-aboutus {
  background: #00ff00;
  margin-top: -100px;
  margin-bottom: 75px; }
  .section-aboutus .aboutus__img {
    margin-top: -30px; }
    .section-aboutus .aboutus__img img {
      width: 100%; }
  .section-aboutus h1 {
    padding: 0 0 18px 90px;
    background: url("../images-min/line-h1.png") no-repeat bottom left; }
  .section-aboutus p {
    padding: 20px 0; }

@media screen and (max-width: 479px) {
  .section-aboutus h1 {
    font-size: 1.8em;
    padding: 0 0 18px 30px; } }

.section-business {
  margin-bottom: 80px;
  color: #ffffff; }
  .section-business h2 {
    padding: 25px 0 15px; }
  .section-business p {
    text-align: justify;
    padding: 0 8px; }
  .section-business .business__color-darker {
    background: #4D4D4D;
    transition: 0.7s;
    min-height: 355px;
    padding-bottom: 15px;
    text-align: center; }
    .section-business .business__color-darker:hover {
      z-index: 999;
      transform: scale(1.1); }
  .section-business .business__color-main {
    background: #666666;
    transition: 0.7s;
    min-height: 355px;
    padding-bottom: 15px;
    text-align: center; }
    .section-business .business__color-main:hover {
      z-index: 999;
      transform: scale(1.1); }
  .section-business .business__color-light {
    background: #999999;
    transition: 0.7s;
    min-height: 355px;
    padding-bottom: 15px;
    text-align: center; }
    .section-business .business__color-light:hover {
      z-index: 999;
      transform: scale(1.1); }

@media screen and (max-width: 479px) {
  .section-business .business__color-darker, .section-business .business__color-main, .section-business .business__color-light {
    min-height: 100px; } }

.section-contact {
  margin-top: -430px;
  padding-bottom: 25px;
  background: #00ff00; }
  .section-contact .contact-info {
    padding-top: 75px; }
  .section-contact h2 {
    padding: 25px 0 18px 35px;
    background: url("../images-min/line.png") no-repeat bottom left; }
  .section-contact .mobile-phone {
    display: none; }
  .section-contact .phone {
    display: block;
    padding: 10px 0; }

.contact-banner {
  height: 155px;
  background: url("../images-min/section-gray-bcg.png") repeat-x;
  margin-top: 360px; }

@media screen and (max-width: 479px) {
  .section-contact .phone {
    display: none; }
  .section-contact .mobile-phone {
    padding: 10px 0;
    display: block; }
    .section-contact .mobile-phone .btn-secondary {
      background: #009900;
      padding: 20px;
      width: 100%;
      font-size: 16px;
      border-radius: 0px; }
      .section-contact .mobile-phone .btn-secondary a {
        color: #ffffff; }
  .section-contact .email {
    margin-top: 15px; } }

input {
  margin: 25px 0 10px 0;
  transition: 0.7s;
  width: 45%;
  background: #009900;
  border: none;
  padding: 8px; }
  input:hover {
    background: #00a300; }
  input::-webkit-input-placeholder {
    color: #fff; }
  input:-moz-placeholder {
    color: #fff; }
  input::-moz-placeholder {
    color: #fff; }
  input:-ms-input-placeholder {
    color: #fff; }

.g-recaptcha {
  margin-top: 15px; }

textarea {
  width: 91%;
  height: 120px;
  transition: 0.7s;
  background: #009900;
  border: none;
  padding: 8px; }
  textarea:hover {
    background: #00a300; }
  textarea::-webkit-input-placeholder {
    color: #fff; }
  textarea:-moz-placeholder {
    color: #fff; }
  textarea::-moz-placeholder {
    color: #fff; }
  textarea:-ms-input-placeholder {
    color: #fff; }

input[type="submit"] {
  width: 91%;
  padding: 15px 0;
  color: #ffffff; }

@media screen and (max-width: 479px) {
  .section-contact h2 {
    font-size: 1.1em; }
  .section-contact .contact-info {
    padding-top: 15px; }
  input {
    margin: 10px 0 5px 0;
    width: 100%; }
  textarea {
    width: 100%;
    margin-top: 10px; }
  input[type="submit"] {
    width: 100%; } }

.section-foto {
  margin-top: -105px; }
  .section-foto li {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 32%; }
    .section-foto li:nth-child(3n) {
      margin-right: 0; }
  .section-foto img {
    width: 100%;
    height: auto;
    transition: 0.7s; }
    .section-foto img:hover {
      z-index: 999;
      transition-delay: 0.2s;
      transform: scale(1.5); }

.foto-banner {
  height: 155px;
  background: url("../images-min/section-gray-bcg.png") repeat-x;
  margin-top: 80px; }

@media screen and (max-width: 479px) {
  .section-foto li {
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 100%; }
    .section-foto li:nth-child(1n) {
      margin-right: 0; }
  .section-foto img:hover {
    transform: scale(1.1); }
  .foto-banner {
    margin-top: 25px; } }

footer {
  background: #00ff00;
  height: 50px;
  margin-top: 55px; }
  footer p {
    font-size: 12px;
    padding-top: 10px; }

.successfully-sent {
  background: #00ff00;
  padding: 25px;
  margin-bottom: 15px;
  font-size: 1.5em; }
