// ==========================================
// @@ ++ Business styling
// ==========================================

=businessWrap()
  height: 355px
  text-align: center

=businessHover()
  &:hover
    z-index: 999
    transform: scale(1.1)

.section-business
  margin-bottom: 80px
  h2
    padding: 25px 0 15px
  p
    text-align: justify
    padding: 0 8px
  .business__color-FF
    background: $green-main
    transition: 0.7s
    +businessWrap
    +businessHover
  .business__color-CC
    background: $green-dark-medium
    transition: 0.7s
    +businessWrap
    +businessHover
  .business__color-99
    background: $green-dark
    transition: 0.7s
    +businessWrap
    +businessHover

