// ==========================================
// @@ ++ Contact styling
// ==========================================

.section-contact
  margin-top: -430px
  padding-bottom: 25px
  background: $green-main
  .contact-info
    padding-top: 75px
  h2
    padding: 25px 0 18px 35px
    background: url("../images/line.png") no-repeat bottom left
  .mobile-phone
    display: none
  .phone
    display: block
    padding: 10px 0
.contact-banner
  +banner
  margin-top: 360px

+mQuery(479px)
  .section-contact
    .phone
      display: none
    .mobile-phone
      padding: 10px 0
      display: block
      .btn-secondary
        background: $green-dark
        padding: 20px
        width: 100%
        font-size: 16px
        border-radius: 0px
        a
          color: #ffffff
    .email
      margin-top: 15px

//form styling

=field()
  background: $green-dark
  border: none
  padding: 8px

=hoverLighten()
  &:hover
    background: lighten($green-dark, 2)

input
  margin: 25px 0 10px 0
  transition: 0.7s
  width: 45%
  +field
  +hoverLighten
  +input-placeholder(#fff)



textarea
  width: 91%
  height: 120px
  transition: 0.7s
  +field
  +hoverLighten
  +input-placeholder(#fff)

input[type="submit"]
  width: 91%
  padding: 15px 0
  color: #ffffff

+mQuery(479px)
  .section-contact
    h2
      font-size: 1.1em
    .contact-info
      padding-top: 15px
  input
    margin: 10px 0 5px 0
    width: 100%
  textarea
    width: 100%
    margin-top: 10px
  input[type="submit"]
    width: 100%

