// ==========================================
// @@ ++ Foto styling
// ==========================================

.section-foto
  margin-top: -105px
  li
    +grid(2,3%)
  img
    width: 100%

.foto-banner
  +banner
  margin-top: 80px
