// ==========================================
// @@ ++ Mixin
// ==========================================

// Media Query's

=mQuery($arg...)
  @if length($arg) == 1
    @media screen and (max-width: nth($arg, 1))
      @content

  @if length($arg) == 2
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2))
      @content


// de groene balk die een aantal keren voorkomt aangepast naae grijs op vraag van de klant
=banner()
  height: 155px
  background: url("../images-min/section-gray-bcg.png") repeat-x

// voor de voor en na foto's langs elkaar te plaatsen, dit zorgt voor geen
// marge aan de rechterkant
// use +grid(2,3%) bv
=grid($cols, $mgn)
  float: left
  margin-right: $mgn
  margin-bottom: $mgn
  width: ((100% - (($cols - 1) * $mgn)) / $cols)
  &:nth-child(#{$cols}n)
    margin-right: 0

// Placeholder text in inputfields
=input-placeholder($color)
  &::-webkit-input-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &::-moz-placeholder //for newer versions of Firefox
    color: $color
  &:-ms-input-placeholder
    color: $color
  

